/* Import the Creepster font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('images/llamaPoker.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Creepster', cursive; /* Applying the gangster font */
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    /* Removed the box styling */
}

.text-box p {
    font-size: 48px;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Creates a black outline around the text */
    margin: 0;
    text-align: center;
}
