* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif; /* Classy font */
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black; /* Black outline */
}
